 .edit-course-container {
     max-width: 700px;
     margin: 40px auto;
     padding: 30px;
     background-color: #f9f9f9;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .edit-course-container h1 {
  text-align: center; 
  margin-bottom: 40px;
  color: #e67e22;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000;
 }

 .edit-course-form label {
     display: block;
     margin-bottom: 8px;
     font-weight: bold;
     color: #555;
 }

 .edit-course-form input[type="text"],
 .edit-course-form input[type="number"],
 .edit-course-form input[type="file"],
 .edit-course-form textarea {
     width: calc(100% - 22px);
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ddd;
     border-radius: 5px;
     font-size: 1em;
 }

 .edit-course-form textarea {
     min-height: 100px;
     resize: vertical;
 }

 .edit-course-form button {
     display: block;
     width: 100%;
     padding: 12px;
     background-color: #e67e22;
     color: white;
     border: none;
     border-radius: 5px;
     font-size: 1.1em;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .edit-course-form button:hover {
     background-color: #e67e22;
 }

 .messages {
     list-style: none;
     padding: 0;
     margin: 20px 0;
 }

 .messages li.success {
     background-color: #d4edda;
     color: #155724;
     border: 1px solid #c3e6cb;
     padding: 10px;
     border-radius: 5px;
     margin-bottom: 10px;
 }